<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <link rel="stylesheet" href="tailwind.css">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Tarefa 03</title>
</head>
<body class="bg-zinc-900 text-zinc-100">
  <div class="bg-zinc-600/65 w-full flex justify-center">
    <h1 class="text-3xl py-5">Projeto Express</h1>
  </div>
  <div class="mt-24 p-4 flex flex-col m-auto h-72 w-[650px] rounded-md shadow-lg shadow-cyan-500 border border-zinc-600/65 bg-zinc-600/65">
    <h1 class="text-cyan-500 text-3xl font-medium">
      Obrigado por se inscrever!
    </h1>
    <p class="text-xl">
      Lorem ipsum dolor sit, amet consectetur adipisicing elit. Pariatur perferendis aliquid vel omnis sed similique amet. Sequi labore harum debitis reprehenderit eius eveniet, illo iure maiores possimus sunt nihil optio.
    </p>
  </div>
  <div class="h-px w-full mt-16  mb-24"/>
  <div class="flex items-center">
    <a class="bg-zinc-600/30 rounded-md p-2 hover:bg-cyan-700 cursor-pointer m-auto" href="/">Voltar a home</a>
  </div>
 
</body>
</html>